// Body
$body-bg: #f2f7fb;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.95rem;

// Colors
$primary: #0ea5e9;
$secondary: #fbbf24;
$success: #10b981;
$info: #3b82f6;

$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-sm: 0.375rem;

$navbar-light-bg: #ffffff;
$navbar-padding-y: 1rem;
